* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 24px;
}

.intro-chunk {
  max-width: 400px;
  padding: 64px 0;
}

main {
  background-color: hsl(0deg, 0%, 30%);
  padding: 64px 0;
}

.card {
  background-color: white;
  padding: 24px;
  margin: 0 -24px;
}

.indented-heading {
  background-color: yellow;
  line-height: 1.2;
  width: fit-content;
  padding: 16px 32px;
  margin: -16px 0 1rem -32px;
}
